html{
  background-image:url(/Users/junexiong/Desktop/hotpot/bgimg.jpg);
  max-width:100% ;
      
}


body {
  margin: 50px 80px;
  padding: 0;
  font-family: "Acumin Pro";
  scroll-behavior: smooth;
  color:rgb(255, 187, 60);
  max-width: fit-content;
}

#start {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.section {
  margin-top: 10rem;
  margin-left: 1rem;
}

#title-container {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5rem;
}

p{
  font-family: monospace;
  line-height: 0.75cm;
  font-size: 12pt;
  font-weight: 100;
  color:cornsilk;
  max-width: 100%;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text-content {
  margin-bottom: 2rem;
}

.two-column-row {
  margin: 5rem 0rem;
  text-align: center;
}

.two-column-row-l {
  display: inline-block;
  background-color: grey;
  vertical-align: middle;
  width: 45%;
  height: 300px;
}

.two-column-row-r {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
  width: 45%;
}

.four-column-row {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.four-column-element {
  display: inline-block;
  margin: 0.5rem 0.5rem;
  vertical-align: middle;
  text-align: left;
  width: 20%;
}

.six-column-row {
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-align: center;
}

.six-column-row-element {
  display: inline-block;
  background-color: grey;
  vertical-align: middle;
  width: 14%;
  height: 80px;
  margin: 0.5rem 0.5rem;
}
